*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ojuju-heading {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Hero Section */
.hero-section{
    justify-content: center;
    position: relative;
}
.swiper {
    height: 100vh;
}

.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D8C3A5;
    overflow: hidden;
}

/* Bakground image */
.swiper-slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* Overlay */
.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

/* Content */
.content {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 900px;
}

h1{
    font-size: clamp(2rem, 5vw, 4rem);
    line-height: 1.1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

p{
    font-size: clamp(1rem, 2vw, 1.5rem );
    line-height: 1.7;
}

.navbar {
    position: absolute;
    top: 20px;
    width: 90%;
    z-index: 10;
    color: white;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    padding: clamp(1rem, 1.5vw, 4rem);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: #D8C3A5 1px solid;
    border-radius: 10px;
}
.logo {
  display: flex !important;
  align-items: center !important;
  gap: clamp(0.2rem, 0.1vw, 1rem) !important;
  margin-left: clamp(1rem, 3vw, 1.5rem);
}

.logo img {
  width: 40px !important;
  height: auto !important;
}

.logo h3 {
  display: block !important;
  visibility: visible !important;
  margin: 0 !important;
  font-family: "Ojuju", sans-serif !important;
}

.nav-links a {
    color: #D8C3A5;
    text-decoration: none;
    margin: 0 35px;
    font-family: "Ojuju", sans-serif;
    padding: clamp(0.1rem, 1vw, 1rem);
    font-size: clamp(0.9rem, 1.2vw, 1.1rem);
    transition: 0.3s ease;
}
.nav-links a:hover {
    border-radius: 15px;
    background: rgba(216,195,165,0.1);
}

.hero-btns {
    display: flex;
    justify-content: center;
    gap: clamp(0.5rem, 1vw, 1rem);
    flex-wrap: wrap;
}
.hero-btns button {
    margin-top: 20px;
    padding: clamp(0.5rem, 1vw, 1rem) clamp(1rem, 2vw, 2rem);
    font-size: clamp(0.9rem, 1.2vw, 1.1rem);
    background-color: #D8C3A5;
    color: #111111;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}
.primary-button {
    background-color: #D8C3A5;
    color: #111111;
}
.primary-button:hover {
    background-color: transparent !important;
    color: #D8C3A5 !important;
    border: 2px solid #D8C3A5 !important;
}
.primary-button:active{
    opacity: 0.5;
}

.secondary-button {
    background-color: transparent !important;
    color: #D8C3A5 !important;
    border: 2px solid #D8C3A5 !important;
}
.secondary-button:hover {
    background: #D8C3A5 !important;
    color: #111111 !important;
}
.secondary-button:active{
    opacity: 0.5;
}

/* ABOUT SECTION */ 
.about-section {
    position: relative;
    padding: 95px 8%;
    background-color: #111111;
    overflow: hidden;
}
.about-blur {
    position: absolute;
    width: clamp(200px, 30vw, 400px );
    height: clamp(200px, 30vw, 400px);
    border-radius: 50%;
    filter: blur(120px);
    opacity: 0.20;
    z-index: 0;
}
.blur-1{
    top: 10%;
    left: clamp(10px, 10vw, 50px);
    background: #D8C3A5;
}
.blur-2{
    top: 10%;
    right: clamp(10px, 10vw, 50px);
    background: #C96B2C;
}

.about-intro{
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(1rem, 2vw, 4rem);
    align-items: center;
    margin-bottom: clamp(2rem, 4vw, 6rem);
}
/* IMAGE */
.about-image {
    overflow: hidden;
    border-radius: 24px;
}
.about-image img{
    width: 100%;
    height: 640px;
    object-fit: cover;
    transition: transform 0.3s ease;
    filter: brightness(0.85);
}
.about-image:hover img{
    transform: scale(1.05);
    filter: brightness(1);
}
/* TEXT */
.about-text h2{
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    color: #D8C3A5;
    line-height: 1.1;
    margin-bottom: 30px;
    font-family: "Ojuju", sans-serif;
}
.about-text p{
    margin-bottom: 24px;
    max-width: 500px;
    color: #ffffff;
    font-family: "Ojuju", sans-serif;
}

/* TAG */
.section-tag {
    color: #D4AF37;
    letter-spacing: 2px;
    margin-bottom: 18px;
    font-size: 0.9rem;
}

/* VALUES SECTION*/
.values-section {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 140px;
    height: 50vh;
    margin-bottom: 260px;
}
/* CARD  */
.value-card{
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(216,195,165,0.1);
    border-radius: 20px;
    padding: 40px 30px;
    transition: 0.4s ease;
    backdrop-filter: blur(10px);
}

.value-card:hover{
    transform: translateY(-10px);
    border-color: rgba(212,175,55,0.5);
}

.value-card h3{
    font-size: 2rem;
    color: #D8C3A5;
    margin-bottom: 20px;
}

.value-card p{
    color: #d3c6b7;
    line-height: 1.7;
}

.values-head{
    grid-column: 1 / -1;
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    color: #D8C3A5;
    margin-bottom: clamp(2rem, 4vw, 6rem);
    font-family: "Ojuju", sans-serif;
}

/* QUOTE */
.quote-section{
    position: relative;
    z-index: 2;

    text-align: center;
    margin-bottom: 140px;
}

.quote-section h2{
    font-size: clamp(2.5rem, 6vw, 5rem);
    line-height: 1.2;
    color: #D4AF37;
}

/* COMMUNITY */
.community-section{
    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    font-family: "Ojuju", sans-serif;
    margin-bottom: 140px;
}

.community-text h2{
    font-size: clamp(2.2rem, 5vw, 4rem);
    color: #D8C3A5;
    margin-bottom: 24px;
}
.community-text p{
    color: #d3c6b7;
    line-height: 1.7;
}
/* STATS */
.community-stats{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.stat-box{
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(216,195,165,0.1);

    padding: 40px 20px;
    border-radius: 20px;

    text-align: center;
}

.stat-box h3{
    font-size: 2.2rem;
    color: #D4AF37;
    margin-bottom: 10px;
    font-family: "Ojuju", sans-serif;
}

.stat-box span{
    color: #e0d5c7;
    font-family: "Poppins", sans-serif;
}

/* CTA */
.about-cta{
    position: relative;
    z-index: 2;

    text-align: center;
}

.about-cta h2{
    font-size: clamp(2rem, 5vw, 4rem);
    color: #D8C3A5;
    margin-bottom: 40px;
}
.join-btns {
    display: flex;
    justify-content: center;
    gap: clamp(0.5rem, 1vw, 1rem);
    flex-wrap: wrap;
}
.join-btns button {
    margin-top: 20px;
    padding: clamp(0.5rem, 1vw, 1rem) clamp(1rem, 2vw, 2rem);
    font-size: clamp(0.9rem, 1.2vw, 1.1rem);
    background-color: #D8C3A5;
    color: #111111;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}
.pri-btn {
    background-color: #D8C3A5;
    color: #111111;
}
.pri-btn:hover {
    background-color: transparent !important;
    color: #D8C3A5 !important;
    border: 2px solid #D8C3A5 !important;
}
.pri-btn:active{
    opacity: 0.5;
}

.sec-btn {
    background-color: transparent !important;
    color: #D8C3A5 !important;
    border: 2px solid #D8C3A5 !important;
}
.sec-btn:hover {
    background: #D8C3A5 !important;
    color: #111111 !important;
}
.sec-btn:active{
    opacity: 0.5;
}

/* =========================
        GALLERY SECTION
========================= */

.gallery-section{
    position: relative;

    padding: 140px 0;

    overflow: hidden;

    background: #0d0d0d;
}

/* HEADING */
.gallery-heading{
    text-align: center;
    margin-bottom: 90px;
    padding: 0 6%;
}

.gallery-heading h2{
    font-size: clamp(2.5rem,5vw,5rem);
    color: #D8C3A5;
    margin-bottom: 20px;
}

.gallery-heading p{
    max-width: 700px;
    margin: auto;
}

/* =========================
        MARQUEE WRAPPER
========================= */

.gallery-marquee{
    position: relative;

    width: 100%;

    overflow: hidden;

    margin-bottom: 40px;
}

/* CURVED FEEL */
.marquee-left{
    transform: rotate(-2deg);
}

.marquee-right{
    transform: rotate(2deg);
}

/* =========================
        TRACK
========================= */

.gallery-track{
    display: flex;
    gap: 30px;

    width: max-content;

    animation: scrollLeft 35s linear infinite;
}

/* REVERSE */
.reverse-track{
    animation: scrollRight 35s linear infinite;
}

/* =========================
        CARD
========================= */

.gallery-card{
    position: relative;

    width: 320px;
    height: 420px;

    overflow: hidden;

    border-radius: 24px;

    flex-shrink: 0;

    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}

/* IMAGE */
.gallery-card img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: 0.5s ease;
}

/* HOVER */
.gallery-card:hover img{
    transform: scale(1.08);
    filter: brightness(0.8);
}

/* =========================
        ANIMATIONS
========================= */

@keyframes scrollLeft{

    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-50%);
    }
}

@keyframes scrollRight{

    from{
        transform: translateX(-50%);
    }

    to{
        transform: translateX(0);
    }
}

/* =========================
        MOBILE
========================= */

@media(max-width:768px){

    .gallery-card{
        width: 240px;
        height: 320px;
    }

    .gallery-track{
        gap: 20px;
    }
}

/* RESPONSIVE */
@media(max-width: 992px){

    .values-section{
        grid-template-columns: 1fr;
        margin-bottom: 560px;
    }

    .community-stats{
        grid-template-columns: 1fr;
    }

    .about-image img{
        height: 500px;
    }

    .about-section{
        padding: 100px 6%;
    }
}