.ojuju-heading {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

/* Hero Section */
.hero-section{
    justify-content: center;
}
.swiper {
    height: 100vh;
}

.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D8C3A5;
}

/* Bakground image */
.swiper-slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

/* Content */
.content {
    position: relative;
    z-index: 2;
    text-align: center;
}

h1{
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

p{
    font-size: 30px;
}

.navbar {
    position: absolute;
    top: 20px;
    width: 90%;
    z-index: 10;
    color: white;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: #D8C3A5 1px solid;
    border-radius: 10px;
}
.logo {
  display: flex !important;
  align-items: center !important;
  gap: 12px !important;
}

.logo img {
  width: 40px !important;
  height: auto !important;
  
}

.logo h3 {
  display: block !important;
  visibility: visible !important;
  margin: 0 !important;
  font-family: "Ojuju", sans-serif !important;
}

.nav-links a {
    color: #D8C3A5;
    text-decoration: none;
    margin: 30px;
    font-family: "Ojuju", sans-serif;
    padding: 2vh;
}